version: '3.8'

services:
  # 1. Guacamole Proxy Daemon
  guacd:
    image: guacamole/guacd
    container_name: umt_guacd
    restart: always
    env_file:
      - .env
    expose:
      - "4822"
    networks:
      - vdi_net
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # 2. Database (PostgreSQL)
  postgres:
    image: postgres:15-alpine
    container_name: umt_db
    restart: always
    env_file:
      - .env
    environment:
      # SỬA LẠI: Dùng biến môi trường thay vì điền cứng
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - vdi_net

  # 3. Backend API
  backend:
    build: ./backend
    container_name: umt_backend
    restart: always
    env_file:             # <--- ĐÂY LÀ DÒNG BẠN THIẾU
      - .env              # <--- Backend cần file này để biết Pass DB
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - guacd
    networks:
      - vdi_net

  # 4. Frontend Client
  frontend:
    build: ./frontend
    container_name: umt_frontend
    restart: always
    env_file:
      - .env
    ports:
      - "80:3000"
    depends_on:
      - backend
    networks:
      - vdi_net

networks:
  vdi_net:
    driver: bridge